<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"  ></ion-back-button>
        </ion-buttons>
    <ion-title>Education</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
          <ion-label>Learn about HIV and AIDS</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Gonorrhoea</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Syphilis</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Chlamydial infections</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Soft chancre</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Other STI</ion-label>
          </ion-item>
    </ion-list>


</ion-content>
