<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"  ></ion-back-button>
        </ion-buttons>
    <ion-title>Screening</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-radio-group>
            <ion-list-header>
              <ion-label>Question 1</ion-label>
            </ion-list-header>
        
            <ion-item>
              <ion-label>Yes</ion-label>
              <ion-radio slot="start" value="biff"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>No</ion-label>
              <ion-radio slot="start" value="griff"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Don't know</ion-label>
                <ion-radio slot="start" value="dn"></ion-radio>
              </ion-item>
        
          </ion-radio-group>

          <ion-radio-group>
              <ion-list-header>
                <ion-label>Question 1</ion-label>
              </ion-list-header>
          
              <ion-item>
                <ion-label>Yes</ion-label>
                <ion-radio slot="start" value="biff"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="griff"></ion-radio>
              </ion-item>
  
              <ion-item>
                  <ion-label>Don't know</ion-label>
                  <ion-radio slot="start" value="dn"></ion-radio>
                </ion-item>
          
            </ion-radio-group>

            <ion-radio-group>
                <ion-list-header>
                  <ion-label>Question 2</ion-label>
                </ion-list-header>
            
                <ion-item>
                  <ion-label>Yes</ion-label>
                  <ion-radio slot="start" value="biff"></ion-radio>
                </ion-item>
            
                <ion-item>
                  <ion-label>No</ion-label>
                  <ion-radio slot="start" value="griff"></ion-radio>
                </ion-item>
    
                <ion-item>
                    <ion-label>Don't know</ion-label>
                    <ion-radio slot="start" value="dn"></ion-radio>
                  </ion-item>
            
              </ion-radio-group>


              <ion-radio-group>
                  <ion-list-header>
                    <ion-label>Question 3</ion-label>
                  </ion-list-header>
              
                  <ion-item>
                    <ion-label>Yes</ion-label>
                    <ion-radio slot="start" value="biff"></ion-radio>
                  </ion-item>
              
                  <ion-item>
                    <ion-label>No</ion-label>
                    <ion-radio slot="start" value="griff"></ion-radio>
                  </ion-item>
      
                  <ion-item>
                      <ion-label>Don't know</ion-label>
                      <ion-radio slot="start" value="dn"></ion-radio>
                    </ion-item>
              
                </ion-radio-group>

          <ion-button expand="block">Submit</ion-button>

    </ion-list>

</ion-content>
