<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"  ></ion-back-button>
        </ion-buttons>
    <ion-title>Screening</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>

       
      <h1>a) STI screening should start with following three questions regardless of clinical presentation   </h1>
      <ion-radio-group  (ionChange)="aa1($event)" >
        <ion-list-header>
            <ion-label>Gender</ion-label>
          </ion-list-header>
        <ion-item>
            <ion-label>Male</ion-label>
            <ion-radio slot="start" value="1"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>female</ion-label>
            <ion-radio slot="start" value="2"></ion-radio>
          </ion-item>
      </ion-radio-group>
      <ion-input [(ngModel)]="age" placeholder="Enter Age">AGE : </ion-input>
       <ion-radio-group  (ionChange)="aa2($event)" >
          <ion-list-header>
              <ion-label>1aa. Do you have any genital discharge? </ion-label>
            </ion-list-header>
          <ion-item>
              <ion-label>Yes</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>No</ion-label>
              <ion-radio slot="start" value="0"></ion-radio>
            </ion-item>
      </ion-radio-group>
       <ion-radio-group  (ionChange)="aa3($event)" >
          <ion-list-header>
              <ion-label>1 ab. Do you have any ulcer/ulcers on external genitalia ?   </ion-label>
            </ion-list-header>
          <ion-item>
              <ion-label>Yes</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>No</ion-label>
              <ion-radio slot="start" value="0"></ion-radio>
            </ion-item>
      </ion-radio-group>
       <ion-radio-group  (ionChange)="aa4($event)" >
          <ion-list-header>
              <ion-label>1 ac. Has/have your partner(s) been treated for an STI in the last 8 weeks?   </ion-label>
            </ion-list-header>
          <ion-item>
              <ion-label>Yes</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>No</ion-label>
              <ion-radio slot="start" value="0"></ion-radio>
            </ion-item>
      </ion-radio-group>
      <ion-button expand="block" (click)="next()">Next</ion-button>
     
      
     <div  *ngIf="aa">
      <h1>Sexual history to ascertain risk of getting STI: No risk/Low risk/High risk  </h1>
       <ion-radio-group  (ionChange)="bb1($event)" >
          <ion-list-header>
              <ion-label>Are you Sexually active   </ion-label>
            </ion-list-header>
          <ion-item>
              <ion-label>Yes</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>No</ion-label>
              <ion-radio slot="start" value="0"></ion-radio>
            </ion-item>
      </ion-radio-group>
      <div *ngIf="bb11">
       <ion-radio-group  (ionChange)="bb2($event)" >
          <ion-list-header>
              <ion-label>Recent sexual history: I had-  -  - -   tick the correct option  </ion-label>
            </ion-list-header>
          <ion-item>
              <ion-label>Intercourse with close single partner</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>Paid sex</ion-label>
              <ion-radio slot="start" value="2"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Intercourse with Multiple partners</ion-label>
                <ion-radio slot="start" value="3"></ion-radio>
              </ion-item>
      </ion-radio-group>
       <ion-radio-group  (ionChange)="bb3($event)" >
          <ion-list-header>
              <ion-label>Sexual orientation - type of sexual activity  </ion-label>
            </ion-list-header>
          <ion-item>
              <ion-label>oral</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>vaginal</ion-label>
              <ion-radio slot="start" value="2"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>anal</ion-label>
                <ion-radio slot="start" value="3"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>sex</ion-label>
                <ion-radio slot="start" value="4"></ion-radio>
              </ion-item>
      </ion-radio-group>
       <ion-radio-group  (ionChange)="bb4($event)" *ngIf=!g>
          <ion-list-header>
              <ion-label>the possibility of pregnancy (females), </ion-label>
            </ion-list-header>
          <ion-item>
              <ion-label>Yes</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>No</ion-label>
              <ion-radio slot="start" value="0"></ion-radio>
            </ion-item>
      </ion-radio-group>
       <ion-radio-group  (ionChange)="bb5($event)" >
          <ion-list-header>
              <ion-label>use of contraceptives </ion-label>
            </ion-list-header>
          <ion-item>
              <ion-label>OCP</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>condoms</ion-label>
              <ion-radio slot="start" value="2"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>others</ion-label>
                <ion-radio slot="start" value="3"></ion-radio>
              </ion-item>
      </ion-radio-group>
       <ion-radio-group  (ionChange)="bb6($event)" >
          <ion-list-header>
              <ion-label>recent antibiotic history and drug allergy</ion-label>
            </ion-list-header>
          <ion-item>
              <ion-label>Yes</ion-label>
              <ion-radio slot="start" value="yes"></ion-radio>
            </ion-item>
            <ion-input [(ngModel)]="antibiotic" *ngIf=bby6 placeholder="Enter name of antibiotic">Antibiotic :</ion-input>
            <ion-item>
              <ion-label>No</ion-label>
              <ion-radio slot="start" value="no"></ion-radio>
            </ion-item>
      </ion-radio-group>   
      <ion-radio-group (ionChange)="bb7($event)">
      <ion-list-header>
          <ion-label>History of Recent overseas travel </ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio slot="start" value="1"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="0"></ion-radio>
        </ion-item>
      </ion-radio-group>
     

        <h1>History related to symptoms</h1>
         <ion-radio-group  (ionChange)="cc1($event)" >
            <ion-list-header>
                <ion-label>a. Do you have Pain or burning while passing urine  ?</ion-label>
              </ion-list-header>
            <ion-item>
                <ion-label>Yes</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
        </ion-radio-group>
         <ion-radio-group  (ionChange)="cc2($event)" >
            <ion-list-header>
                <ion-label>b. Do you have an increased frequency of urination ?                </ion-label>
              </ion-list-header>
            <ion-item>
                <ion-label>Yes</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
        </ion-radio-group>
         <ion-radio-group  (ionChange)="cc3($event)" >
            <ion-list-header>
                <ion-label>c. Are you having fever ?                  </ion-label>
              </ion-list-header>
            <ion-item>
                <ion-label>Yes</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
        </ion-radio-group>
         <ion-radio-group  (ionChange)="cc4($event)" >
            <ion-list-header>
                <ion-label>d. Do you feel weak since onset of symptoms ?                  </ion-label>
              </ion-list-header>
            <ion-item>
                <ion-label>Yes</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
        </ion-radio-group>
        <ion-radio-group (ionChange)="cc5($event)">
        <ion-list-header>
            <ion-label>e. Is there any discharge from urethra ? Pus at the site of flow of urine              </ion-label>
          </ion-list-header>
      
          <ion-item>
            <ion-label>Yes</ion-label>
            <ion-radio slot="start" value="1"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>No</ion-label>
            <ion-radio slot="start" value="0"></ion-radio>
          </ion-item>
        </ion-radio-group>
         <ion-radio-group  (ionChange)="cc6($event)" >
            <ion-list-header>
                <ion-label>f. How much is the quantity of discharge in a day ? </ion-label>
              </ion-list-header>
            <ion-item>
                <ion-label>scanty or Just few drops</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>Copius discharge soiling the undergarments</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
        </ion-radio-group>
        <ion-radio-group (ionChange)="cc7($event)">
        <ion-list-header>
            <ion-label>g. What is the type of discharge ?        </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label> a) Clear and watery</ion-label>
            <ion-radio slot="start" value="1"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>b) Clear and stretchy(mucoid)</ion-label>
            <ion-radio slot="start" value="2"></ion-radio>
          </ion-item>
          <ion-item>
              <ion-label>c) White or curdy</ion-label>
              <ion-radio slot="start" value="3"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>d) yellowish to greenish frothy</ion-label>
              <ion-radio slot="start" value="4"></ion-radio>
            </ion-item>
        </ion-radio-group>
         <ion-radio-group  (ionChange)="cc8($event)">
            <ion-list-header>
                <ion-label>h. Is the discharge foul smelling ? (Fishy smell)                  </ion-label>
              </ion-list-header>
            <ion-item>
                <ion-label>Yes</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
        </ion-radio-group>
         <ion-radio-group  (ionChange)="cc9($event)">
            <ion-list-header>
                <ion-label>i. Do you have vaginal itching            </ion-label>
              </ion-list-header>
            <ion-item>
                <ion-label>Yes</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
        </ion-radio-group>
         <ion-radio-group  (ionChange)="cc10($event)">
            <ion-list-header>
                <ion-label>j. Do you have a backache      </ion-label>
              </ion-list-header>
            <ion-item>
                <ion-label>Yes</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
        </ion-radio-group>
         <ion-radio-group  (ionChange)="cc11($event)">
            <ion-list-header>
                <ion-label>k. Do you have pain in abdomen ?                  </ion-label>
              </ion-list-header>
            <ion-item>
                <ion-label>Yes</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
        </ion-radio-group>
        <ion-radio-group (ionChange)="cc12($event)">
        <ion-list-header>
            <ion-label>l. Does your partner has similar kind of discharge       </ion-label>
          </ion-list-header>
      
          <ion-item>
            <ion-label>Yes</ion-label>
            <ion-radio slot="start" value="1"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>No</ion-label>
            <ion-radio slot="start" value="0"></ion-radio>
          </ion-item>
        </ion-radio-group>
       
     
      <h1>Ulcer related questions (1ab follow up). Ulcer is a wound or break in the continuity of skin or mucous membrane.        </h1>
         <ion-radio-group  (ionChange)="dd1($event)" >
            <ion-list-header>
                <ion-label>a. Is it painful ? </ion-label>
              </ion-list-header>
            <ion-item>
                <ion-label>Yes</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
        </ion-radio-group>
         <ion-radio-group  (ionChange)="dd2($event)" >
            <ion-list-header>
                <ion-label>b. Is it single ulcer ?           </ion-label>
              </ion-list-header>
            <ion-item>
                <ion-label>Yes</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
        </ion-radio-group>
         <ion-radio-group  (ionChange)="dd3($event)" >
            <ion-list-header>
                <ion-label>c. Are they multiple ulcer ?              </ion-label>
              </ion-list-header>
            <ion-item>
                <ion-label>Yes</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
        </ion-radio-group>

     

     
        <h1>Photo quiz for ulcer          </h1>
        <ion-radio-group  (ionChange)="ee($event)">
            <ion-list-header>
              <ion-label> Your ulcer resembles which of the following</ion-label>
            </ion-list-header>
        
            <ion-item>
              <ion-label>a. syphilitic ulcer     </ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>b. chancroid                </ion-label>
              <ion-radio slot="start" value="2"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>c. Herpetic ulcer          </ion-label>
                <ion-radio slot="start" value="3"></ion-radio>
              </ion-item>
        
          </ion-radio-group>  
        
          <ion-button expand="block" (click)="submit()">Submit</ion-button>
        </div>
      </div>

    </ion-list>

</ion-content>
