<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"  ></ion-back-button>
        </ion-buttons>
    <ion-title>Training</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list>
    <ion-item>
      <ion-label>Anatomy of reproductive tract</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Vaginal discharge</ion-label>
      <p>
          <li>Vaginal candidiasis</li>
          <li>Trichomoniasis</li>
      </p>
    </ion-item>
    <ion-item>
      <ion-label>Urethral discharge</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Genital ulcer</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Gental swelling</ion-label>
    </ion-item>
  </ion-list>
   
    

</ion-content>
